body,div,h1,h2,p,table,ul,tr,th,td,fieldset
{
	margin:0;
	padding:0;
	font-size:100%;
}


html,body{height:100%;}
body{
	min-height:100%;
}

#container
{
	height:100%;
	background: #0036B7 url('background.jpg') no-repeat;
	background-attachment:fixed;
	background-size: cover;
	color: #FFF;
	
	overflow:hidden;
	max-width: 1920px;
	margin: 0 auto;
}

#header{text-align: center;margin:24px 0;color:rgba(255,255,255,0.5);}

#footer{text-align: center;margin-top:24px;}
a{color:#FFF;}
a:hover{color:#CCF;}

#appTodoList fieldset{border:0;}


#appTodoList
{
	min-width:320px;
	max-width:640px;
	
	margin:0 auto;
	padding:24px;
	
	overflow:hidden;
}

#appTodoList form{text-align:center;overflow:hidden;}
#appTodoList input{font-size:200%;color:#FFF;}

#appTodoList input[type=text]
{
	border: 0;
	background:transparent;
	border-bottom: 1px solid #FFF;
}

#appTodoList input[type=text]:hover,#appTodoList input[type=text]:focus{outline:0;}

#appTodoList input[type=submit], #appTodoList .delete
{
	padding: 0 4px;
	background:transparent;
	border: 1px solid #FFF;
	color:rgba(255,255,255,0.5);
}

#appTodoList input[type=submit]:hover, #appTodoList .delete:hover
{
	color:rgba(255,255,255,1);
}

#appTodoList input[type=submit]:active, #appTodoList .delete:active
{
	padding: 0 4px;
	background: rgba(0,0,0,0.3);
}



#appTodoList form +p{font-size:95%;font-family:"Cordia New";font-weight:bold;height:20px;}

#appTodoList .todoContent
{
	padding: 24px;
	border: 1px solid #FFF;
	overflow: hidden;
}

#appTodoList .submitMessage{
	text-align: center;
}

#appTodoList .delete{

	float: right;
}

#appTodoList .todoList
{
	width:100%;
	list-style-type: none;
}

#appTodoList .todoList li
{
	padding: 12px;
	border-bottom: 1px solid #FFF;
}

#appTodoList .sort a.active:after { content: "↑";}
#appTodoList .sort a.active.up:after { content: "↓";}



#appTodoList .empty{text-align:left !important;}

@media(max-width: 480px)
{
	#appTodoList form{text-align:left;}

	#appTodoList input[type=submit]
	{
		margin-top: 4px;
	}
}

