
<form>
	<fieldset>
		<input type="text"		name="todo" 			id="inputTodo" placeholder="Todo" />
		<input type="submit" 	id="inputTodoButton" 	value="Add" />
	</fieldset>
</form>
<p class='submitMessage'></p>